In [1]:
import pandas as pd
import json
from tqdm import tqdm
import random
from cleantext import clean

In [9]:
data_path = "../data/Reddit-19K personality data/"

In [183]:
chunksize = 100000
mbti_comments = pd.read_csv(data_path+"mbti9k_comments.csv",chunksize=chunksize)
typed_comments = pd.read_csv(data_path+"typed_comments.csv",chunksize=chunksize)
# typed_posts = pd.read_csv(data_path+"typed_posts.csv",chunksize=chunksize)

In [182]:
mbti_comments.get_chunk()

,author,comment,type,subreddits_commented,mbti_subreddits_commented,wc,comments_num
0,--asmodeus--,Yes! Personally I feel that as helpful as it i...,entp,6,1,1367,38
1,--hypnos--,I guess I'd stick to being a lesbian so I woul...,intj,49,1,28328,1503
2,-Afrodisiac-,"What languages do you speak? Whoops, my bad fo...",intp,78,8,13134,611
3,-Automaticity,It is just arguing semantics. To many on the c...,entp,33,2,3724,117
4,-Avacyn,Come to Europe if you're interested. In many E...,entj,67,2,123720,1297

In [16]:
data = []

In [39]:
typed_comments.get_chunk()

,name,author,author_flair_text,downs,created_utc,subreddit_id,link_id,parent_id,score,controversiality,...,id,subreddit,ups,type,word_count,word_count_quoteless,quote_to_text_ratio,is_mbti_related,comment,lang
0,NaN,MetricExpansion,ENTP,0.0,1.474429e+09,t5_2s90r,t3_53plrw,t3_53plrw,6.0,0.0,...,d7vkyrf,mbti,6.0,entp,151,149,0.013245,True,Those stats come from the test. [Echoing the c...,en
1,NaN,MetricExpansion,NaN,0.0,1.480139e+09,t5_2s90r,t3_5ep948,t1_dafz6ab,1.0,0.0,...,dafzzrg,mbti,0.0,entp,319,316,0.009404,True,"That's great to hear! I hope you know that, de...",en
2,NaN,MetricExpansion,[ENTP-5 M 22],0.0,1.455096e+09,t5_2s90r,t3_44q2vf,t1_cztchk3,1.0,0.0,...,czul5ag,mbti,1.0,entp,145,143,0.013793,True,I can totally agree on reticence! With respect...,en
3,NaN,MetricExpansion,<U+1D07><U+0274><U+1D1B><U+1D18> - <U+1D1B><U+...,0.0,1.462865e+09,t5_2s90r,t3_4ijf4l,t3_4ijf4l,1.0,0.0,...,d2zo611,mbti,1.0,entp,41,41,0.000000,True,I took it several times. I'm typed as TYPE_MEN...,en
4,NaN,MetricExpansion,<U+1D07><U+0274><U+1D1B><U+1D18> - <U+1D1B><U+...,0.0,1.460656e+09,t5_2s90r,t3_4eptxr,t1_d22uh4r,1.0,0.0,...,d22uu81,mbti,1.0,entp,11,11,0.000000,True,Gawd it's like we don't even need drugs to be ...,en

In [40]:
typed_posts.get_chunk()

,created_utc,subreddit,author,domain,url,num_comments,score,ups,downs,title,...,archived,is_self,from_id,permalink,name,author_flair_text,quarantine,link_flair_text,distinguished,type
0,1478473439,NaN,userdna45,pepe.me,http://pepe.me,20,27,27.0,0.0,"Brand your reddit post with the prestigious ""p...",...,False,False,NaN,/comments/5bipct/brand_your_reddit_post_with_t...,t3_5bipct,NaN,False,NaN,NaN,intj
1,1461925261,Libertarian,userdna45,dnaforce.ca,http://www.dnaforce.ca/article/weird-school-re...,187,77,77.0,0.0,The horrors of common core state education: Te...,...,False,False,NaN,/r/Libertarian/comments/4gyrhd/the_horrors_of_...,t3_4gyrhd,NaN,False,NaN,NaN,intj
2,1461884955,Anarcho_Capitalism,userdna45,dnaforce.ca,http://www.dnaforce.ca/article/weird-school-re...,164,105,105.0,0.0,The horrors of common core state education: Te...,...,False,False,NaN,/r/Anarcho_Capitalism/comments/4gwntz/the_horr...,t3_4gwntz,NaN,False,NaN,NaN,intj
3,1478480859,The_Donald,userdna45,youtube.com,https://www.youtube.com/watch?v=FKWmip6yZBs,4,27,27.0,0.0,CNN Right now: Advanced software filtered out ...,...,False,False,NaN,/r/The_Donald/comments/5bjbxw/cnn_right_now_ad...,t3_5bjbxw,NaN,False,NaN,NaN,intj
4,1478441206,The_Donald,userdna45,wikileaks.org,https://wikileaks.org/podesta-emails/emailid/5...,1,33,33.0,0.0,WTF?? Clintons blackmailing their own daughter?,...,False,False,NaN,/r/The_Donald/comments/5bfvbf/wtf_clintons_bla...,t3_5bfvbf,NaN,False,NaN,NaN,intj

In [47]:
for index, row in mbti_comments.iterrows():
    data.append({"text":str(row['comment']),"label":row['type']})

In [85]:
random.shuffle(data)
train, test  = data[:int(len(data)*0.8)], data[int(len(data)*0.8):]
random.shuffle(train)
random.shuffle(test)

In [65]:
with open("../data/typed_comments/train_clean_.json","a+",encoding="utf-8") as fw:
    for idx, row in enumerate(train):
        row["text"] = cleaning(row["text"])
        if idx%10000==0:
            print(idx)
        if idx > 100000:
            break
        json.dump(row, fw)
        fw.write("\n")

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000

In [67]:
with open("../data/typed_comments/test_clean_.json","a+") as fw:
    for idx, row in enumerate(test):
        row["text"] = cleaning(row["text"])
        if idx%100==0:
            print(idx)
        if idx > 10000:
            break
        json.dump(row, fw)
        fw.write("\n")

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000

In [59]:
import torch

In [60]:
torch.cuda.empty_cache()

In [10]:
for i in typed_comments:
    print(i['type'])
    break

15    entp
16    entp
17    entp
18    entp
19    entp
Name: type, dtype: object

In [14]:
def cleaning(text):
    return clean(text,
    fix_unicode=True,               # fix various unicode errors
    to_ascii=True,                  # transliterate to closest ASCII representation
    lower=True,                     # lowercase text
    no_line_breaks=False,           # fully strip line breaks as opposed to only normalizing them
    no_urls=True,                  # replace all URLs with a special token
    no_emails=True,                # replace all email addresses with a special token
    no_phone_numbers=True,         # replace all phone numbers with a special token
    no_numbers=True,               # replace all numbers with a special token
    no_digits=True,                # replace all digits with a special token
    no_currency_symbols=True,      # replace all currency symbols with a special token
    no_punct=True,                 # fully remove punctuation
    replace_with_url="<URL>",
    replace_with_email="<EMAIL>",
    replace_with_phone_number="<PHONE>",
    replace_with_number="<NUMBER>",
    replace_with_digit="0",
    replace_with_currency_symbol="<CUR>",
    lang="en"                       # set to 'de' for German special handling
)

In [16]:
data = []
for chunk in typed_comments:
    comment = chunk['comment']
    label = chunk['type']
    for i,j in zip(comment,label):
        if len(i.split()) > 10:
            data.append({"text":str(i),"label":j})
#     print(len(data))

C:\Users\amogh\Anaconda3\envs\venv-dl\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [175]:
def convert_json_to_csv(data,write_path,labels):
    df_data = pd.DataFrame.from_dict(data, orient='columns')
    df_data = df_data[['label','text']]
    for label in labels:
        key = label.lower()
        df_data = df_data.replace(key,labels[label])
    return df_data.to_csv(write_path,index=False,encoding="utf-8")

In [176]:
convert_json_to_csv(train[:20000],"../data/typed_comments/train.csv",labels)

In [177]:
convert_json_to_csv(test[:5000],"../data/typed_comments/test.csv",labels)

In [174]:
labels = {
"ISTJ":1,
"ISTP":2,
"ISFJ":3,
"ISFP":4,
"INFJ":5,
"INFP":6,
"INTJ":7,
"INTP":8,
"ESTP":9,
"ESTJ":10,
"ESFP":11,
"ESFJ":12,
"ENFP":13,
"ENFJ":14,
"ENTP":15,
"ENTJ":16
}